div.ingredient-group:nth-child(odd) {
	float: left;
	padding-right: 20px;
}

div.ingredient-group:nth-child(even) {
    float: left;
	padding-right: 0;
}

div.ingredient-group {
	width: 100%;
	padding: 5px 5px 10px 0px;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

span.validationError {
	color: red;
}

body {
	padding-left: 2px;
	padding-right: 2px;
	min-height: 100%;
	overflow-x: hidden;
}

.header {
/* 	margin-left: 15px; */
}

.footer {
	float: right;
    font-weight: bold;
    font-size: 18px;
    font-family: fantasy;
    clear: both;
}